
.flex-container {
    width: 1170px;
    height: 600px;
    margin: auto;
    background-color: #ffb165;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: baseline;
    align-items: baseline;
}

.flex-container > div {
    background: #ff7206;
    padding: 5px;
    width: 60px;
    height: 150px;
    margin: 5px;
    line-height: 50px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

