body{
    margin-top: 150px;
    background-color: #4f4f4f;
}

p, a, h3, figure {
    margin: 0;
    padding: 0;
}
p{
    text-align: justify;
}

section{

    position: relative;
    width: 1110px;
    height: 550px;
    background-color: white;
    margin: auto;
}

div.st-span{
    position: absolute;
    top: 40px;
    left: 10px;
    width: 320px;
     }

div.nd-span{

    position: absolute;
    top: 40px;
    left: 370px;
    width: 320px;
}

div.rd-span{

    position: relative;
    top: -30px;
    left: 737px;
    width: 400px;
    height: 500px;
}

div.rd-span-first-part{
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 395px;
}
h5{
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
}

div.rd-span-first-part figure{
    position: absolute;
    top: 0;
    left: 260px;
}

p.p-hour{
    color: #4a4a4a;
    padding-top: 15px;
}

div.rd-span-second-part{
    position: absolute;
    top: 258px;
    left: 0;
    width: 250px;
    height: 395px;
}

div.rd-span-second-part figure{
    position: absolute;
    top: 8px;
    left: 260px;
}



.p-color{
    color: red;
}